body{
    /*background-image: url("/images/ap-base.jpg") ;*/
    font-family:arial;
}

p{
    margin-bottom: 20px;
}
h4,h2{
    text-align: left;
    opacity:0.8;
}

h5{
    text-align: center;
}

section{
    margin-top: 80px;
}

#Accueil{
    height:400px;
}

#Grimpe{
    margin-bottom: 80px;
}

#ListeSpot{
    width: 450px;
    text-align: center;
    margin: 20px;
}

#imageAccueil{
    float: right;
}


