<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Escaladons</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
                                   th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyStylesheet.css"
          th:href="@{css/MyStylesheet.css}"/>

</head>

<body>
<header>
    <div class="nav navbar-default">
        <div class = "container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="">Ou grimper?</a></li>
                <li><a th:href="">Vos topos</a></li>
            </ul>
        </div>
    </div>
</header>

<section id="listegrimpe">

<div class="container">
 <table class="table table-stripped">
    <thead>
      <tr>
          <th>Nom du site</th> <th>Description du site</th>
      </tr>
    </thead>
     <tbody>
     <tr th:each="e:${site}">
         <td th:text="${e.nomSite}"></td>
         <td th:text="${e.descriptionSite}"></td>
     </tr>
     </tbody>
 </table>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Nom des secteurs</th> <th>Description des secteurs</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e:${secteur}">
            <td th:text="${e.nomSecteur}"></td>
            <td th:text="${e.descriptionSecteur}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Nom des voies</th> <th>Description des voies</th> <th>Difficulté des voies</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e:${voie}">
            <td th:text="${e.nomVoie}"></td>
            <td th:text="${e.descriptionVoie}"></td>
            <td th:text="${e.niveauVoie}"></td>
        </tr>
        </tbody>
    </table>
</div>
</section>

<footer>
    <div class="navbar-fixed-bottom">
        <small>Escalade - 48 Impasse de la Montagne  89021 Les Monts </small>
    </div>
</footer>

</body>
</html>