<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout" >

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyStylesheet.css"
          th:href="@{css/MyStylesheet.css}"/>
</head>

<body>

<header>
    <div class="nav navbar-default">
        <div class = "container-fluid">
            <ul class="nav navbar-nav">
                <li>Ou grimper?</li>
                <li>Vos topos</li>
            </ul>
        </div>
    </div>
</header>

<section>

</section>

<footer>

</footer>
</body>
</html>