<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>New Spot</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyStylesheet.css"
          th:href="@{css/MyStylesheet.css}"/>

</head>

<body>

<div layout:fragment="content">
    <section id="New Spot">
        <div class="container">
            <h2> New Spot </h2>
            <h4>Créé un nouveau Spot ou ajoute des infos à un Spot déjà créé!</h4>
            <div class="col-md-8">
                <div class="panel-default">
                    <div class="panel-heading">CREER UN SITE</div>
                    <div class="panel-body">
                        <form th:action="@{saveSite}" method="post">
                            <div class="form-group">
                                <label class="control-label">Nom du Site :</label>
                                <input class="form-control" type="text" name="nomSite" th:value="${site.nomSite}"/>
                                <span class="red" th:errors="${site.nomSite}"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description du Site :</label>
                                <input class="form-control" type="text" name="descriptionSite"
                                       th:value="${site.descriptionSite}"/>
                                <span class="red" th:errors="${site.descriptionSite}"></span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel-default">
                    <div class="panel-heading">CREER UN SECTEUR</div>
                    <div class="panel-body">
                        <form th:action="@{saveSecteur}" method="post">
                            <div class="form-group">
                                <label class="control-label">Site du Secteur :</label>
                                <select class="form-control" name="SiteSecteur">
                                <option th:each="site : ${listSite}"  th:text="${site.nomSite}"
                                        th:value="${site.idSite}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nom du Secteur :</label>
                                <input class="form-control" type="text" name="nomSecteur"
                                       th:value="${secteur.nomSecteur}"/>
                                <span class="red" th:errors="${secteur.nomSecteur}"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description du Secteur :</label>
                                <input class="form-control" type="text" name="descriptionSecteur"
                                       th:value="${secteur.descriptionSecteur}"/>
                                <span class="red" th:errors="${secteur.descriptionSecteur}"></span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel-default">
                    <div class="panel-heading">CREER UNE VOIE</div>
                    <div class="panel-body">
                        <form th:action="@{saveVoie}" method="post">
                            <div class="form-group">
                                <label class="control-label">Secteur de la Voie :</label>
                                <select class="form-control" name="SecteurVoie">
                                    <option th:each="secteur : ${listSecteur}"  th:text="${secteur.nomSecteur}"
                                            th:value="${secteur.idSecteur}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nom de la Voie :</label>
                                <input class="form-control" type="text" name="nomVoie" th:value="${voie.nomVoie}"/>
                                <span class="red" th:errors="${voie.nomVoie}"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description de la Voie :</label>
                                <input class="form-control" type="text" name="descriptionVoie"
                                       th:value="${voie.descriptionVoie}"/>
                                <span class="red" th:errors="${voie.descriptionVoie}"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Difficulté de la Voie :</label>
                                <input class="form-control" type="text" name="niveauVoie"
                                       th:value="${voie.niveauVoie}"/>
                                <span class="red" th:errors="${voie.niveauVoie}"></span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

</body>
</html>