<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>Secteurs</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyStylesheet.css"
          th:href="@{css/MyStylesheet.css}"/>

</head>

<body>

<div layout:fragment="content">

    <section id="Secteurs">
        <div class="container">

            <h2> Ou Grimper?</h2>
            <h4> Trouve ton spot de grimpe parmi tous nos spots et amuse toi! </h4>
            <div class="col-md-6" th:each="s:${secteur}">
                <div id="ListeSpot" class="panel-default">
                    <div class="panel-heading" >
                        <div th:text="${s.nomSecteur}">Site:</div>
                    </div>
                    <div class="panel-body" >
                        <div th:text="${s.descriptionSecteur}"></div>
                    </div>
                    <div>
                        <img th:src="@{/images/Escalade2.jpg}">
                    </div>
                    <button class="btn-default pull-right">Afficher les voies</button>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>