<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>Topo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/MyStylesheet.css"
          th:href="@{css/MyStylesheet.css}"/>

</head>

<body>

<div layout:fragment="content">
    <section id="topo">
        <div class="container">
        <h2> Trouver un Topo </h2>
        <h4> Consultez notre liste de Topos et faites une demande de prêt!! </h4>


                <div id="affTopo" class="col-md-6" th:each="s:${topo}">
                    <div class="panel-default">
                        <div class="panel-heading" >
                            <div th:text="${s.nomTopo}">Site:</div>
                        </div>
                        <div class="panel-body" >
                            <div th:text="${s.descriptionTopo}"></div>
                            <p></p>
                            <img class="center-block" th:src="@{/images/Escalade2.jpg}">
                        </div>
                        <div>
                        <button type="button" class="btn btn-secondary pull-right">Demande de Prêt</button>
                        </div>
                    </div>
                </div>

        </div>
    </section>
</div>

</body>
</html>